#main-soh{
    border: 1px solid black;
    width: 100%;
    height: 300px;
    display: flex;
}
#main-soh .left{
    border:  1px solid black;
    width: 48%;
    height: 300px;  
}
#main-soh .left .color{
    background-color: black;
    width: 90%;
    height: 230px;
    margin: auto;
    margin-top: 37px;   
}
#main-soh .right {
    border: 1px solid black;
    width: 48%;
    height: 300px; 
    display: flex; 
}
#main-soh .right .dash{
    background-color: black;
    width: 5px;
    height: 150px;
    
}
#main-soh .right .data p{
    font-size: 20px;
}
#main-soh .right .data h5{
    color: gray;
}

