*{
    margin: 0px;
    padding:0px;
}
/*********************************************************************************/
i{
    border: 1px solid gray;
    width: 30px;
    border-radius: 15px;
    text-align: center;
    margin:8px 2px;
}
#main-banner{
    display: flex;
    width: 90%;
    height: 600px;
    margin: 0 auto;
    margin-top: 50px;
}
/*************/
#main-banner-left{
    width: 50%;
    padding-right: 5%;
    border-right: 1px solid rgba(128, 128, 128, 0.425);
    
}
#main-banner-left img{
    width: 100%;
    border-bottom: 12px solid #037362;;
}
#main-banner-left h2{
   padding:20px 0;
}
.mini-header{
    padding:15px 0;
    color: gray;
    font-size: 14px;
}
#main-banner-left p:last-child{
    padding:20px 0;
    font-size: 12px;
    color: gray;
}

/*************/
#main-banner-right{
 
    width: 40%;
    padding-left: 5%;
}

.side-banner{
    height: 120px;
    display: flex;
    padding: 10px 0;
    border-bottom: 1px solid rgba(128, 128, 128, 0.363);
}
.side-banner img{
    width: 180px;
    height: 100px;
   
    margin-right: 25px;
}
.side-banner-content{
    width: 100%;
  
}
.side-banner-content > *{
    padding: 3px 0;
    font-size: 15px;
}

.side-banner-content > p:nth-child(2){
    font-size: 13px;
    color: #037362;
    font-weight: bold;
}
.side-banner-content > p:nth-child(3){
    font-size: 13px;
    color: gray;
}