*{
    margin:0;
    padding: 0;
}
/************************** Navigation Section (by Nitansh) **************************/
li a{
    list-style: none;
    text-decoration: none;
    color: gray;
}

/************/
#basic-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:10px 20px;
}
#basic-nav  a{
    color: black;
}
#basic-nav  i{
   border: none;
}
#logo img{
    width: 200px;
}
#logo img+p{
    text-align: center;
}
#basic-nav li{
    display: inline;
    padding: 0 10px;
    font-size: 13px;
}