*{
    margin:0;
    padding: 0;
}
/************************** Navigation Section (by Nitansh) **************************/
li a{
    list-style: none;
    text-decoration: none;
    color: gray;
}

/************/
#basic-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:10px 20px;
}
#basic-nav  a{
    color: black;
}
#basic-nav  i{
   border: none;
}
#logo img{
    width: 200px;
}
#logo img+p{
    text-align: center;
}
#basic-nav li{
    display: inline;
    padding: 0 10px;
    font-size: 13px;
}

/************/

#category-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:20px 0px;
    color: gray;
}
#category-nav li{
    display: inline;
    padding: 0 10px;
}


/*****************************************Media Queries by Nitansh START ****************************************************/
/* Small devices (portrait tablets and large phones, 600px and down) */
@media only screen and (max-width: 600px) {
    
} 
/* Medium devices (landscape tablets, 768px and down) */
@media only screen and (max-width: 768px) {
      /* Navigation */
      #category-nav ul{
        overflow: auto;
        white-space: nowrap;
        padding-bottom: 30px;
    }
    #basic-nav{
        display: grid;
        grid-template-columns: 50%;
        grid-gap: 10px;
        margin: auto;
        justify-content: center;
        align-items: center;
    }
    #logo img+p{
       visibility: hidden;
    }
    #logo{
        margin-top: 15px;
        margin-bottom: 0;
        padding-bottom: 0;
    }  
  
} 
/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {

}  */
/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {

} */
/*****************************************Media Queries by Nitansh END****************************************************/