*{
    margin:0;
    padding:0;
}

/************************** Navigation Section (by Nitansh) **************************/
li a{
    list-style: none;
    text-decoration: none;
    color: gray;
}

/************/
#basic-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:10px 20px;
}
#basic-nav  a{
    color: black;
}
#basic-nav  i{
   border: none;
}
#logo img{
    width: 200px;
}
#logo img+p{
    text-align: center;
}
#basic-nav li{
    display: inline;
    padding: 0 10px;
    font-size: 13px;
}

/************/

#category-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:20px 0px;
    color: gray;
}
#category-nav li{
    display: inline;
    padding: 0 10px;
}


/*******************************Newsletter CSS by Nitansh ************************/
#newsletters{
    display: grid;
    grid-template-columns: 45% 45%;
    width: 80%;
    margin:10px auto;
    grid-column-gap:50px;
    grid-row-gap:20px;
    
}
#newsletters > div{
    border: 1px solid rgba(128, 128, 128, 0.486);
    padding: 0 0px 20px 0px;
    box-shadow: gray 10px 10px 10px;   
}
#newsletters img{
    width: 100.3%;
   
}

#newsletters > h1{
  
    grid-column: span 2;
    margin:20px 10px;
}
#newsletters > p{
    grid-column: span 2;
    margin:0 0 30px 10px;
   
}
#newsletters > div> h3{
    width: 80%;
    margin-bottom: 20px;
    margin-top: 15px;
    text-align: left;
    padding-left: 20px;
}
#newsletters > div> p{
    width: 80%;
    text-align: left;
    padding-left: 20px;
   
}
#newsletters button{
    width: 100%;
    height: 45px;
    background-color: #5555FF;
    color: white;
    outline: none;
    border: none;
    font-size: 15px;
    margin-top: 40px;
}

/*****************************************Media Queries by Nitansh START ****************************************************/
/* Small devices (portrait tablets and large phones, 600px and down) */
@media only screen and (max-width: 600px) {
    
} 
/* Medium devices (landscape tablets, 768px and down) */
@media only screen and (max-width: 768px) {
      /* Navigation */
      #category-nav ul{
        overflow: auto;
        white-space: nowrap;
        padding-bottom: 30px;
    }
    #basic-nav{
        display: grid;
        grid-template-columns: 50%;
        grid-gap: 10px;
        margin: auto;
        justify-content: center;
        align-items: center;
    }
    #logo img+p{
       visibility: hidden;
    }
    #logo{
        margin-top: 15px;
        margin-bottom: 0;
        padding-bottom: 0;
    }  
    #newsletters > div{
        grid-column-start: 1;
        grid-column-end: 3;
    }
} 
/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {

}  */
/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {

} */
/*****************************************Media Queries by Nitansh END****************************************************/